<div class="flex flex-col gap-2 justify-center items-center">
  <div
    class="shadow-md border border-gray-200 w-full max-h-[70vh] md:max-h-[80vh] overflow-y-auto max-w-[500px] p-5"
  >
    <task-add-form (createTaskEvent)="createTask($event)" />
    <task-item
      *ngFor="let task of tasks$ | async"
      [task]="task"
      [selectedTask]="selectedTask$ | async"
      (finishOrUnfinishTaskEvent)="finishOrUnfinishTask($event)"
      (selectTaskEvent)="selectTask($event)"
      (updateTaskEvent)="updateTask($event)"
      (deleteTaskEvent)="deleteTask($event)"
    />
  </div>
</div>
