<div class="">
  <nav class="bg-blue-200">
    <div class="flex max-w-7xl mx-auto items-center justify-between px-5 h-14">
      <a class="font-bold text-xl" routerLink="/">Task Manager</a>
      <div class="flex gap-5 font-semibold">
        <a
          class="p-2 py-1 border-b-2 bg-white border-blue-500 transition-all hover:text-white hover:bg-blue-500 rounded-md hover:border-transparent"
          routerLink="/about"
          >About</a
        >
      </div>
    </div>
  </nav>
  <div class="max-w-7xl mx-auto px-5 mt-10">
    <router-outlet />
  </div>
</div>
